<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdw.snail.dao.UserDao">
    <resultMap id="userMap" type="com.zdw.snail.model.UserEntity">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="email" property="email" />
    </resultMap>
    <select id="getUserEntityByLoginName" parameterType="java.lang.String" resultMap="userMap">
        select * from sys_user where login_name = #{loginName}
    </select>
    <!-- 获取user列表 -->
    <select id="usersList" resultMap="userMap">
        select * from sys_user
        <where>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName}
            </if>
        </where>
            order by id desc
        <if test="pageSize != null and start != null ">
            limit #{start},#{pageSize}
        </if>
    </select>
    <!-- 获取user列表的总量 -->
    <select id="usersSize" resultType="Integer">
        <![CDATA[select count(*) from sys_user]]>
        <where>
            <if test="loginName != null and loginName != ''">
                login_name = #{loginName}
            </if>
        </where>
    </select>
    <!-- 新建用户信息 -->
    <insert id="insertUser">
		insert into sys_user (name,login_name,password,email)
		values
		(#{userEntity.name},#{userEntity.loginName},#{userEntity.password},#{userEntity.email})
	</insert>
    <!-- 更新用户信息 -->
    <update id="updateUser">
        update sys_user set
        name = #{userEntity.name},
        login_name =
        #{userEntity.loginName},
        password = #{userEntity.password},
        email =
        #{userEntity.email}
        <where>
            id = #{userEntity.id}
        </where>
    </update>
    <!-- 删除用户信息 -->
    <delete id="deleteUsers">
        delete from sys_user
        <where>
            <if test="groupId !=null">
                id in
                <foreach collection="groupId" item="item" index="index"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>